alabaster==0.7.12; python_version >= "3.5" and python_full_version >= "3.5.2"
antlr4-python3-runtime==4.8; python_version >= "3.7" and python_version < "3.11"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==19.3.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.11" or python_version >= "3.7" and python_version < "3.11" and python_full_version >= "3.4.0"
babel==2.9.1; python_full_version >= "3.5.2" and python_version >= "3.5"
backports.entry-points-selectable==1.1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "2.7"
certifi==2021.10.8; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
charset-normalizer==2.0.9; python_full_version >= "3.6.0" and python_version >= "3.5"
colorama==0.4.4; sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.2" and platform_system == "Windows"
commonmark==0.9.1
cycler==0.11.0; python_version >= "3.7" and python_version < "3.11"
decorator==5.1.0; python_version >= "3.7" and python_version < "3.11"
dill==0.3.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.1.0")
discrete-signals==0.7.3; python_version >= "3.6" and python_version < "4.0"
distlib==0.3.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
docutils==0.17.1; python_full_version >= "3.5.2" and python_version >= "3.5"
dotmap==1.3.26
easydict==1.9
filelock==3.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
fonttools==4.28.4; python_version >= "3.7" and python_version < "3.11"
funcy==1.16; python_version >= "3.6" and python_version < "4.0"
future==0.18.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
imagesize==1.3.0; python_full_version >= "3.5.2" and python_version >= "3.5"
importlib-metadata==4.9.0; python_version < "3.10" and python_version >= "3.7"
jinja2==3.0.3; python_version >= "3.6" and python_full_version >= "3.5.2"
joblib==0.14.1
kiwisolver==1.3.2; python_version >= "3.7" and python_version < "3.11"
kmodes==0.10.2
lenses==0.5.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.6"
mapbox-earcut==0.12.11; python_version >= "3.7" and python_version < "3.11"
markupsafe==2.0.1; python_version >= "3.6"
matplotlib==3.5.1; python_version >= "3.7"
metric-temporal-logic==0.1.7; python_version >= "3.6" and python_version < "4.0"
more-itertools==8.12.0; python_version >= "3.6"
numpy==1.21.4; python_version >= "3.7" and python_version < "3.11"
opencv-python==4.5.4.60; python_version >= "3.6"
packaging==21.3; python_full_version >= "3.5.2" and python_version >= "3.7" and python_version < "3.11"
pandas==1.3.5; python_full_version >= "3.7.1"
parsimonious==0.8.1; python_version >= "3.6" and python_version < "4.0"
pillow==9.0.1; python_version >= "3.6"
platformdirs==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pluggy==0.13.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pygame==2.1.0; python_version >= "3.6"
pygments==2.10.0; python_version >= "3.5" and python_full_version >= "3.5.2"
pynverse==0.1.4.4; python_version >= "3.7" and python_version < "3.11"
pyparsing==3.0.6; python_version >= "3.7" and python_version < "3.11"
pytest-randomly==3.10.3; python_version >= "3.6"
pytest==5.4.3; python_version >= "3.5"
python-dateutil==2.8.2; python_full_version >= "3.7.1" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.11" or python_version >= "3.7" and python_version < "3.11" and python_full_version >= "3.3.0")
pytz==2021.3; python_full_version >= "3.7.1" and python_version >= "3.5"
recommonmark==0.6.0
requests==2.26.0; python_full_version >= "3.6.0" and python_version >= "3.5"
scenic==2.1.0b1; python_version >= "3.7" and python_version < "3.11"
scikit-learn==1.0.1; python_version >= "3.7"
scipy==1.7.3; python_version >= "3.7" and python_version < "3.11"
setuptools-scm==6.3.2; python_version >= "3.7" and python_version < "3.11"
shapely==1.8.0; python_version >= "3.7" and python_version < "3.11"
singledispatch==3.7.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.6"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
snowballstemmer==2.2.0; python_version >= "3.5" and python_full_version >= "3.5.2"
sortedcontainers==2.4.0; python_version >= "3.6" and python_version < "4.0"
sphinx-autodoc-typehints==1.10.3; python_full_version >= "3.5.2"
sphinx-rtd-theme==0.4.3
sphinx==2.4.5; python_version >= "3.5"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.5" and python_full_version >= "3.5.2"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.5" and python_full_version >= "3.5.2"
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.6" and python_full_version >= "3.5.2"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.5" and python_full_version >= "3.5.2"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.5" and python_full_version >= "3.5.2"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.5" and python_full_version >= "3.5.2"
threadpoolctl==3.0.0; python_version >= "3.7"
toml==0.10.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
tomli==2.0.0; python_version >= "3.7"
tox==3.24.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
urllib3==1.26.7; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.5"
virtualenv==20.10.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
wcwidth==0.2.5; python_version >= "3.6"
zipp==3.6.0; python_version < "3.10" and python_version >= "3.7"
