aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.2; sys_platform == "darwin" or platform_system == "Darwin"
async-timeout==3.0.1
atomicwrites==1.4.0; sys_platform == "win32"
attrs==19.3.0
babel==2.9.1
backcall==0.2.0
blessings==1.7
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5; implementation_name == "pypy"
chardet==4.0.0
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
cvxpy==1.1.13
cycler==0.10.0
decorator==4.4.2
dill==0.3.3
discrete-signals==0.7.3
distlib==0.3.2
docutils==0.17.1
dotmap==1.3.23
easydict==1.9
ecos==2.0.7.post1
filelock==3.0.12
funcy==1.16
future==0.18.2
google-api-core==1.28.0
google-auth==1.30.1
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.38.0
hiredis==2.0.0
idna==2.10
imagesize==1.2.0
importlib-metadata==4.4.0; python_version < "3.10"
ipykernel==5.5.5
ipython==7.24.0
ipython-genutils==0.2.0
jedi==0.18.0
jinja2==3.0.1
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.2.0
jupyter-core==4.7.1
kiwisolver==1.3.1
kmodes==0.10.2
lenses==0.5.0
markupsafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
metric-temporal-logic==0.1.7
more-itertools==8.8.0
msgpack==1.0.2
multidict==5.1.0
nest-asyncio==1.5.1
networkx==2.5.1
numpy==1.18.5
nvidia-ml-py3==7.352.0
opencensus==0.7.13
opencensus-context==0.1.2
osqp==0.6.2.post0
packaging==20.9
pandas==1.2.4
parsimonious==0.8.1
parso==0.8.2
pexpect==4.8.0; sys_platform != "win32"
pickleshare==0.7.5
pillow==7.2.0
pluggy==0.13.1
progressbar2==3.53.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.17.1
psutil==5.8.0
ptyprocess==0.7.0; sys_platform != "win32"
py==1.10.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20; implementation_name == "pypy"
pygame==2.0.1
pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==5.4.3
pytest-randomly==3.8.0
python-dateutil==2.8.1
python-utils==2.5.6
pytz==2021.1
pywin32==301; sys_platform == "win32"
pyyaml==5.4.1
pyzmq==22.1.0
qdldl==0.1.5.post0
ray==1.3.0
recommonmark==0.6.0
redis==3.5.3
requests==2.25.1
rsa==4.7.2; python_version >= "3.6"
scikit-learn==0.22.2.post1
scipy==1.6.1
scs==2.1.3
seaborn==0.11.1
singledispatch==3.6.2
six==1.16.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
sphinx==2.4.4
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tornado==6.1
tox==3.23.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.5
virtualenv==20.4.7
wcwidth==0.2.5
yarl==1.6.3
zipp==3.4.1; python_version < "3.10"
